<div class="container-fluid text-center">
  <img
    src="/images/FotoPerfil.jpg"
    alt="Jeykel Medrano"
    class="rounded-circle"
    width="200"
  />

  <h1 id="nombre">Jeykel Medrano Montesino</h1>
  <p>Desarrollador Full-Stack</p>
 <p>Explora mis proyectos y conoce más sobre mí.</p>
</div>

<style>
  img {
    margin-top: 1rem;
  }

  p {
    color: var(--color-texto-secundario);
    font-size: large;
    margin-top: 1rem;
    font-size: 20px;
  }

  #nombre {
    background: linear-gradient(
      to right,
      var(--color-texto-principal),
      var(--color-destacado)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

</style>
