<div class="d-flex align-items-center justify-content-center gap-2">
    <i class="icon fa-solid fa-sun"></i>
    <label class="theme-switch">
        <input type="checkbox" id="themeSwitch">
        <span class="slider"></span>
    </label>
    <i class="icon fa-solid fa-moon"></i>
</div>

<style>
    .theme-switch {
            position: relative;
            width: 60px;
            height: 34px;
        }
        
        .theme-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--color-fondo-principal);
            transition: .4s;
            border-radius: 34px;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: var(--color-texto-principal);
            transition: .4s;
            border-radius: 50%;
        }
        
        input:checked + .slider {
            background-color: var(--color-fondo-principal);
        }
        
        input:checked + .slider:before {
            transform: translateX(26px);
        }
        
        .icon {
            font-size: 1.2rem;
            color: var(--color-destacado);
        }
</style>

<script>
     const themeSwitch = document.getElementById('themeSwitch') as HTMLInputElement;
        
     if(themeSwitch) {
        // Verificar si hay una preferencia guardada
        if (localStorage.getItem('darkMode') === 'enabled') {
            document.body.classList.add('dark-mode');
            themeSwitch.checked = true;
        }
        
        themeSwitch.addEventListener('change', function(e) {
            console.log('cambio');
            if ((e.target as HTMLInputElement).checked) {
                document.body.classList.add('dark-mode');
                localStorage.setItem('darkMode', 'enabled');
            } else {
                document.body.classList.remove('dark-mode');
                localStorage.setItem('darkMode', 'disabled');
            }
        });
    }
</script>