  :root {
    --color-fondo-principal: #93063e; /*(Fondo principal) */
    --color-fondo-secundario: #5a1646; /*(Fondo secundario) */
    --color-header: #5a1646; /*(Header)*/
    --color-header-2: #3a0f2d; /*(Header)*/
    --color-footer: #c80034; /*(Footer)*/
    --color-cards: #b33c1b; /*(Cards)*/
    --color-destacado: #fec500; /*(Botones y destacados)*/
    --color-destacado-2: #d1a401; /*(Botones y destacados)*/
    --color-texto-principal: #ffffff; /*(Texto Principal)*/
    --color-texto-secundario: #eeeeee; /*(Texto Secundario)*/
  }  

  :root{
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
    --font-size-h1: 1.35rem;
    --font-size-p: 1rem;
  }

  body.dark-mode {
    --color-fondo-principal: #121212;
    --color-fondo-secundario: #1e1e1e;
    --color-header: #242424;
    --color-header-2: #333333;
    --color-footer: #2b2b2b;
    --color-cards: #383838;
    --color-destacado: #bb86fc;
    --color-destacado-2: #9d6fd6;
    --color-texto-principal: #ffffff;
    --color-texto-secundario: #b3b3b3;
}
  